*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #91A6FF;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vw;

}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    border: 2px solid #91A6FF;
    border-radius: 0.5rem;
    outline: none;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
   
}
.select-container img{
    max-width: 2rem;


}
.select-container{
    display: flex;
    width:8rem;
    justify-content: center;
    align-items: center;
    background-color: #91A6FF;;
    border-radius: 0.5rem;
    gap: 5px;
    border: 2px solid #91A6FF;
  

}
.msg{
    margin: 2rem 0 2rem 0;

}
button{
   
    background-color: #0A37FF;
    cursor: pointer;

}