* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #191919;
}

.gallery {
    width: 90%;
    display: flex;
    overflow-x: scroll;
    /* to get the scroll bar just under the pictures not on the whole page*/
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    /* to show the scrolling*/
}

.gallery img {
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
   
}
#backBtn , #nextBtn{
  width: 50px;
  cursor: pointer;
  margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1)

}
